ul.spicy-control-dimensions {
  width: 100%;
}

.spicy-control-input-wrapper ul li {
  width: 20%;
  float: left;
}

div.spicy-units-choices > input{
  display: none;
}

div.spicy-units-choices > input:checked+label{
  color:red;

}
.spicy-control-multiunit > label {
  font-size: 11px;
}


div.spicy-units-choices > input:not(:checked)+label{
  display:none;
}
.spicy-link-dimensions{
  width:90%;
  height: 30px;
  border: 1px solid;
  border-color: black;
  background-color: #7a8791;
}

div.spicy-units-choices > label{  
  border-radius:50%;
  padding:3px;
  font-size:9px;
  background-color:#ebebeb;
  line-height: 16px;
}

.units-wrapper {
  height :29px;
  margin-top: 5px;
}

.units-wrapper ul li {
  margin-bottom: 0px;
  margin-top: 4px;
}

div.spicy-units-choices{
 position: absolute;
}

.spicy_linkAllUnit {
  position: relative;
  height:30px;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid;
  border-color: black;
  border-left: 0;
  background-color: #7a8791;
}

.spicy-control-multiunit > input {
  border-right : 0;
  border-radius: 0;
  border-color:rgb(58, 57, 57) !important;
  height:30px;
  padding-right: 0;
}
.spicy-control-dimensions >.spicy-control-multiunit:first-child input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.spicy_link_first{
  display:block;
  border-radius:5px;
  padding:3px;
  font-size:13px; 
  color: white; 
}

.spicy_link{
  display:none;
  border-radius:50%;
  padding:3px;
  font-size: 12px;
  color: brown;
}

.spicy-unlinked {
  display: none;
}

.spicy_tooltip{
  width: max-content;
  background-color: #e6e9ec;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: -1px;
  right: 100%;
}

.spicy-units-choices-label-top{
  position:relative;
  z-index: 5;
}

.spicy-units-choices-label-right{
  position:relative;
  z-index: 4;
}

.spicy-units-choices-label-bottom{
  position:relative;
  z-index: 3;
}

.spicy-units-choices-label-left{
  position:relative;
  z-index: 2;
}
.spicy_link_first:hover .spicy_link_tooltiptext{
  visibility: visible;
}
.spicy_linkAllUnit .spicy_link_tooltiptext{
  visibility: hidden;
  width: 88px;
  background-color: #373434;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 0;
  font-size: 9px;
  bottom: -26px;
}
.spicy_linkAllUnit .spicy_link_tooltiptext::after {
  content: " ";
  position: absolute;
  right: 5%;
  bottom: 94%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #373434 transparent;
}